body{
  font-family: Arial, sans-serif;
  color: black;
  width: 100%;
  margin: 0;
  height: auto;
  min-width: 1000px;
  text-align: center;
  font-size: 12px;
  line-height: 32px;
}
#h-high{
  z-index: 9;   /* Above content, always */
  display: block;
  position: fixed;
  background-color:white;
  top: 0;
  width: 75%;
  left: 12.5%;
  height: 5%;
  min-height: 100px;
  min-width: 805px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 2px;
  box-shadow: 0px 2px 2px #dddddd, 0px 5px 5px #dddddd;
}

#high, #s-main, #f-bottom{
  background-color:white;
}

a, img{
  border: 0;
  text-decoration: none;
  outline: none;
}

#h-emblem{
  display: inline-block;
  float:left;
}

#h-emblem img{
  width: 199px;
  height: 96px; 
}

.n-btns{
  display: inline-block;
  float: right;
  min-width: 380px;
  text-align: center;
}


.n-btn{
  display: inline-block;
  overflow: hidden;
  height: 100%;
}

.n-btn a{
  display: block;
  color: #545454;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  height: 100%;
}

.n-reg:hover{
  transition: background-color 0.5s ease;
  background-color: #d3d3d3;
  border-radius: 2px;
}

.dd-nav{
  display: none;
  position: absolute;
  background-color: white;
  padding-top: 2px;
}
#dd-prog{width: 325px;}
#dd-abt{width: 425px;}

#n-prog:hover #dd-prog, #n-abt:hover #dd-abt{
  display: block;
}

#dd-prog a, #dd-abt a{
  display: block;
  text-align: left;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 2px;
  box-shadow: 0px 2px 2px #dddddd, 0px 1px 5px #dddddd;
}

#dd-prog a:hover,#dd-abt a:hover{
  transition: background-color 0.25s ease;
  background-color: #d3d3d3;
  border-radius: 2px;
}

#dd-prog a img, #dd-abt a img{
  display: inline-block;
  float: right;
  position: relative;
  vertical-align: middle;
  width: 45px;
  height: 45px;
}

.n-special{ 
  background-color: #1287A8;
  margin-left: -3px;
  border-radius: 3px;
}

.n-special a{
  color: white;  
}

.n-special:hover{
  transition: background-color 0.5s ease;
  background-color: #0f708a;
}

ul{
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#arr-i{
  display: block;
  position: fixed;
  top: -1%;
  z-index: 9;
  left: 48.5%;
  opacity: 0;
}

#arr-img{
  width: 50px;
  height: 5px;
}

#s-main{
  display: block;
  position: relative;
  z-index: 1;
  top: 150px;
  width: 70%;
  min-width: 1000px;
  margin: 0 auto;
}
#s-main h1{
  font-family: "Lucida Console", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.s-head{
  display: inline-block;
  position: relative;
  float: left;
  text-align: left;
  font-size: 16px;
  background-color: white;
  width: 175px;
  margin-left: -1%;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -2px 2px #dddddd, 0px -5px 5px #dddddd;
  padding: 0 0 0% 1.5%;
}
#sh-1{
  margin-left: 0%;
}

.s-content{
  z-index: 3;   /* Equal to the amount of section pages */
  display: none;
  clear: both;
  position: relative;
  box-shadow: 0px -2px 2px #dddddd, 0px -5px 5px #dddddd, 0px -1px 5px black;
  border-radius: 0px 2px 2px 2px;
  display: block;
  padding: 10px 10% 50px;
  margin-bottom: 225px;
}
.s-content div{
  overflow: auto;
  margin-bottom: 50px;
  width: 100%;
}
.s-right p{
  text-align: left;
  font-family: Verdana;
  font-size: 14px;
}
.s-right{
  display: block;
}
.s-right, h3{
  text-align: left;
}
.s-right img{
  display: block;
  float: right;
  margin-left: 5%;
  width: 45%;
}

#f-bottom{
  z-index: 9;   /* Above content, always */
  display: block;
  position: fixed;
  text-align: left;
  bottom: 0;
  left: 12.5%;
  width: 75%;
  height: 25px;
  margin: 50px auto 0;
  border-radius: 4px;
  box-shadow: 0px -2px 2px #dddddd, 0px -5px 5px #dddddd;
}
#f-bottom span{
  display: inline;
  position: absolute;
  font-family: sans-serif;
  vertical-align: bottom;
  border-radius: 4px;
  color: #222222;
  padding: 0 2px;
}




